.v-border {
    border: dashed;
    border-width: thin;
}

body {
    background-image: url("http://drive.google.com/uc?export=view&id=1hsr4SFOMXxqUpMPCDk16V97SDXcjUsv_");
    background-color: #cccccc;
}


html,body{
    height:98%;
}

/*
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
*/
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}


blockquote cite:before {
    content: "\2014 \2009";
}

.button-operations {
    color: black;
    border-color: #83868a;
    border-style: solid;
    background-color: transparent;
    box-shadow: none;

}

.button-operations:hover {
    color: black;
    border-color: #475665;
    border-style: solid;
    background-color: #e5eefb;
}

#tumblr{
    width: 40.82px;
}

#twitter, #tumblr, #new_quote{
    box-shadow: none;
}
